.blog-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 2rem;
}

.blog-container input[type="radio"] {
  display: none;
}

.barra-filtros {
  background-color: #fff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 5px 15px #111;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.barra-filtros .categorias,
.barra-filtros .tags {
  color: #111;
  flex-grow: 1; /* Permitir que ocupen todo el alto disponible */
  display: flex;
  flex-direction: column; /* Asegurar que su contenido esté en columna */
}

.barra-filtros h2 {
  text-align: left;
  color: #ff1133;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.barra-filtros ul {
  list-style: none;
}

.barra-filtros label {
  text-align: left;
  margin-bottom: 2rem;
  display: block;
  padding: 0.8rem;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 600;
}

.barra-filtros label:hover {
  color: #fff;
  background: #ff1133;
  border-radius: 5px;
  transition: 0.5s;
}

.barra-filtros input[type="radio"]:checked + label {
  color: #fff;
  background: #ff1133;
  border-radius: 5px;
  transition: 0.5s;
}

.articulos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.articulo {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 15px #111;
  padding: 1.5rem;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  text-align: left;
}

.articulo:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 15px #ff1133;
}

.articulo a {
  text-align: left;
  font-weight: 600;
  font-size: 1.1rem;
  color: #111;
  transition: color 0.5s ease, font-size 0.5s ease;
}

.articulo a:hover {
  color: #ff1133;
  font-size: 1.3rem;
}

.articulo img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.articulo h2 {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.articulo p {
  color: #111;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.tipo-articulo {
  font-size: 1rem;
  font-weight: 600;
  color: #111;
  margin-bottom: 1rem;
}

.tipo-articulo span {
  display: block;
}

#todas:checked ~ .articulos .articulo {
  display: block;
}

#nutricion:checked ~ .articulos .articulo:not([data-category~="nutricion"]),
#entrenamiento:checked
  ~ .articulos
  .articulo:not([data-category~="entrenamiento"]),
#salud:checked ~ .articulos .articulo:not([data-category~="salud"]),
#estilo-vida:checked
  ~ .articulos
  .articulo:not([data-category~="estilo-vida"]) {
  display: none;
}

#tag-todas:checked ~ .articulos .articulo {
  display: block;
}

#fitness:checked ~ .articulos .articulo:not([data-tags*="fitness"]),
#dieta:checked ~ .articulos .articulo:not([data-tags*="dieta"]),
#ejercicio:checked ~ .articulos .articulo:not([data-tags*="ejercicio"]),
#bienestar:checked ~ .articulos .articulo:not([data-tags*="bienestar"]) {
  display: none;
}

.comentarios h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #111;
  margin-bottom: 1rem;
}

.comentario {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.avatar {
  width: 40px;
  height: 40px;
  background: #fcd5ce;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 0 5px #d4a373;
}

.avatar::before,
.avatar::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 12px;
}

.avatar::before {
  left: 10px;
}

.avatar::after {
  right: 10px;
}

/* Boca */
.avatar span {
  display: block;
  width: 14px;
  height: 6px;
  border-bottom: 2px solid #000;
  border-radius: 50%;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}

.comentario p {
  font-size: 1rem;
  color: #111;
}

.comentario p strong {
  color: #ff1133;
}
